body{
    scroll-behavior: smooth;
    font-family: 'Open Sans', sans-serif!important;
}

.c-navbar-brand{
    font-size: 1.2em;
}

.indented-p{
    text-indent: 30px;
}

h1,h2,h3,h4,h5,h6{
    font-family: 'Montserrat', sans-serif;
}

.math{
    font-family: Calibri, sans-serif;
}